$font-awesome-dir:                    "../font/"
$static-img:                          "../img/"
$mathjax-color:                       $text-color
$mathjax-note-color:                  $white
$mathjax-warning-color:               $white
