$lato-font-path: "~@fontsource/lato/files"
$roboto-font-path: "~@fontsource/roboto-slab/files"

@font-face
  font-family: 'Lato'
  src: url('#{$lato-font-path}/lato-all-400-normal.woff') format('woff')
  font-weight: 400
  font-style: normal
  font-display: $font-display

@font-face
  font-family: 'Lato'
  src: url('#{$lato-font-path}/lato-all-700-normal.woff') format('woff')
  font-weight: 700
  font-style: normal
  font-display: $font-display

@font-face
  font-family: 'Lato'
  src: url('#{$lato-font-path}/lato-all-400-italic.woff') format('woff')
  font-weight: 400
  font-style: italic
  font-display: $font-display

@font-face
  font-family: 'Lato'
  src: url('#{$lato-font-path}/lato-all-700-italic.woff') format('woff')
  font-weight: 700
  font-style: italic
  font-display: $font-display

@font-face
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 400
  src: url('#{$roboto-font-path}/roboto-slab-all-400-normal.woff') format('woff')
  font-display: $font-display

@font-face
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 700
  src: url('#{$roboto-font-path}/roboto-slab-all-700-normal.woff') format('woff')
  font-display: $font-display
