[bumpversion]
current_version = 0.4.3.dev0
commit = false
tag = false
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>[a-z]+)(?P<dev>\d+))?
serialize = 
	{major}.{minor}.{patch}.{release}{dev}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = gamma
values = 
	dev
	gamma

[bumpversion:file:setup.py]

[bumpversion:file:sphinx_rtd_theme/__init__.py]

[bumpversion:file:package.json]
