*.pyc
*.egg-info
*.egg
*.mo
*build/
.tox
.coverage
*.DS_Store
*.sass-cache
.ropeproject/
.ruby-version
bin/
dist/
bower_components/
include/
lib/
local/
node_modules
npm-debug.log
package-lock.json
pip-selfcheck.json