*.pyp
*.egg
*.egg
*.build.gradle
*.coverage
*.store
*.cache
*.map
*.project/
*.version-14/components/include/lib/local/module/debug.sys
*sphinx/start/fonts/Lab/
*.sphinx/start/fonts/lab/
*.python-version-14
*.version-14
*.tool-versions-14
*.mrc
*.directory
*.env
# Used for android or docker build gradle
*.container_id
