sphinx>=3.0
sphinxcontrib-httpdomain

# Once we drop Python 2.7, we can enable sphinx-automodapi in order to auto-generate more
# variations of API references for the demo.
# sphinx-automodapi==0.14.1
